.wrap {
    margin-top: 10px;
    height: 100px;
    background-color: #98b9ab;
    margin-bottom: 0px;
}

.grid {
    color: black;
    margin: auto;
    max-width: 1024px;
}

.copywrite{
    background-color: #98b9ab;
  font-size: 13px;
}
@media (max-width: 600px){
    .adress{
        height: 100%;
    }
    p{
        padding-left: 5px;
    }
}