<div class="wrap">
    <a routerLink="contacts" (click)="getURL()">
        <div class="grid">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    <div class="content">
                        <p>
                          <span class="adress">{{"footer.odessa" | translate}} <br> {{"footer.street" | translate}}</span> <br>
                          <span fxShow.lt-md="false" class="copywrite" translate>footer.copywrite</span>
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="telNumber">
                    098-271-62-12 <br>
                    096-271-62-12(Viber)<br>
                    uk.xoz17@ukr.net
                </mat-grid-tile>

            </mat-grid-list>
        </div>
    </a>
    <div fxShow.gt-md="false" fxHide.gt-sm="true" class="copywrite" translate>footer.copywrite</div>
</div>

