<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile class="phone">
    <ul type="none">
      <li> <mat-icon>phone_android</mat-icon>096-271-62-12</li>
      <li> <mat-icon>phone_android</mat-icon>098-271-62-12 </li>
      <div> <mat-icon>email</mat-icon> uk.xoz17@ukr.net</div>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile class="adress">
    <p>ООО "Управляющая компания Хозяин"<br>
    <mat-icon>business</mat-icon>
    65020, г.Одесса, ул. Асташкина 25, помещение 501
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/viber.png" alt="Viber">
    096-271-62-12
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
