.wrap {
    margin-top: 10px;
    height: 100px;
    background-color: #b5d827ad;
    margin-bottom: 0px;
}

.grid {
    color: black;
    margin: auto;
    max-width: 1024px;
}

.copyright {

    font-size: 13px;
}
.mobileCopyright {
    background-color: #b5d827ad;
}
.telNumber{
    padding-left: 0;

}
@media (max-width: 100px) {
    .adress {
        height: 100%;
    }

    p {
        padding-left: 5px;
    }
    mat-grid-tile{
        margin-left: 0;
    }
    .content{
        margin-left: 10px;
    }
    .telNumber{
        padding-left: 0;
        margin-right: -10px;
    }

}