<div class="map">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.508353581302!2d30.721257916015578!3d46.
478245579125996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318e0f3ce019%3A0xbff7b332daf0baa8!2z0Y
PQuy4g0JDRgdGC0LDRiNC60LjQvdCwLCAyNSwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5
e0!3m2!1sru!2sua!4v1533030207486" width="100%" height="100%" frameborder="0" style="border:0">
    </iframe>
</div>

<div class="wrap" >
    <div class="flex">
        <mat-card>
            <mat-card-title translate>contacts.title</mat-card-title>
            <mat-card-content>
                <div translate>address</div>
                <div>098 271 62 12</div>
                <div>096 271 62 12</div>
            </mat-card-content>
            <mat-card-subtitle>
                <div>uk.xoz17@ukr.net</div>
                <div>096 271 62 12 (Viber)</div>
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-title><div translate>cT</div> </mat-card-title>
            <mat-card-subtitle><div translate> contacts.waiting</div> </mat-card-subtitle>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="80px" >
                    <mat-grid-tile>
                        <div >{{'monday'| translate}}: <br> <br> <br>
                            {{'thursday'| translate}}:
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>10:00 - 13:00 <br>
                            15:00 - 18:00 <br> <br>
                            15:00 - 18:00
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title translate>workTime</mat-card-title>
            <mat-card-content>
                <div translate>wD</div>
                <div>09:00 - 18:00</div>
                <div translate>dinner</div>
                <div>13:00 - 14:00</div>
            </mat-card-content>
            <mat-card-subtitle translate>daysoff</mat-card-subtitle>
        </mat-card>
    </div>

    <app-message></app-message>
</div>
