.map{
    max-width: 1200px;
    margin: auto;
    padding: 0;
    height: 200px;
}
div {
    padding-top: 12px;
}


mat-card {
    max-width: 400px;
    background-color: rgba(188, 188, 188, 0.1);
    transition: all 0.3s ease-out;
    height: 200px;
}
.flex{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.contacts:hover {
    background-color: rgba(188, 188, 188, 0.2);
    margin-top: -6px;
}
.workingHours:hover {
    background-color: rgba(188, 188, 188, 0.2);
    margin-top: -6px;
}

.wrap {
    margin: auto;
  width: 100%;
    max-width: 1024px;
    min-height: calc(100vh - 182px);
}
@media (max-width: 600px){
    mat-card{
        margin-top: 10px;
       width: 100%;
    }
    div {
        padding-top: 0px;
    }
}
