.img {
    display: inline-block;
    margin: auto;
    max-width: 1024px;
    height: 115px;
    background-image: url("../../../assets/newspaper.png");\background-repeat: no-repeat;
    background-position-y: 0px;
    border: 1px solid transparent;
}

h2 {
    height: 115px;
    font-size: 36px;
    text-align: center;
    border: 1px solid transparent;
}
mat-card{
    height: 400px;
    max-width: 400px;
    transition: all 0.3s ease-out;
}
mat-card img{
    margin: auto;
    max-height: 300px;
    max-width: 300px;
}
a{
    text-decoration: none;
}
mat-card:hover{
    background-color: rgba(55, 55, 65, 0.1);
    margin-top: -20px;
}
img{
    margin: auto;
    max-width: 400px;
    max-height: 400px;
    float: left;
    padding-right: 20px;
}
@media (max-width: 600px) {
    .img{
        background-image: none;
    }
    img{
        padding: 0;
        float: none;
        margin: auto;
        text-align: center;
        width: 95%;
    }
    p{
        text-align: center;
    }
}
