<form>
    <h2>Отправьте нам сообщение</h2>
    <div fxLayout="row" fxLayout.xs="column" class="data">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@mail.com">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Это поле обязательно для ввода</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Тема</mat-label>
            <input matInput>
            <mat-icon matSuffix>label</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Номер телефона</mat-label>
            <input matInput>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Введите если хотите что бы наш оператор вам перезвонил</mat-hint>
        </mat-form-field>

    </div>
        <mat-form-field appearance="outline">
            <textarea matInput> </textarea>
            <mat-label>Текст сообщения</mat-label>
        </mat-form-field>
    <div class="button" fxLayoutAlign="center">
        <button mat-raised-button>Отправить</button>
    </div>

</form>
