<section class="signupForm" fxLayout="column" fxLayoutAlign="begin center">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Введите данные своей учетной записи</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <form>
        <mat-form-field class="login" fxLayoutAlign="center center">
          <input matInput placeholder="Введите ваш логин">
        </mat-form-field>
        <mat-form-field class="password" fxLayoutAlign="center center">
          <input matInput placeholder="Введите ваш пароль">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button>Войти</button>
    </mat-card-actions>
  </mat-card>
</section>


