
mat-card{
  background-color: #98b9ab;
  width: 400px;
  margin-top: 20px;
}
mat-card-title{
  font-weight: bold;
}

.signupForm{
  min-height: calc(100vh - 170px);
}
button{
  background-color: #1e8257;
  color: white;
}
