
.wrap {
    background-color: #409a74;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

mat-grid-list {
    background-color: #409a74;
    text-align: center;
}
mat-grid-tile{
    border-radius: 2px;
}

a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
a:hover{
    color: black;
}

.menu {
    margin: auto;
    max-width: 1024px;
}

.logo:hover {
    background-color: #409a74;
}

.imgLogo:hover {
    background-color: #409a74;
}
.lang:hover{
    background-color: #409a74;
}

.hv:hover {
    background-color: #2b7757;
    height: 100%;
    width: 101%;
}
.logo {
    padding-right: 5%;
    color: #e3e816;
    font-weight: bold;
}
.mobileMenu {
    background-color: #409a74;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.blackMenu{
    color: black;
}
.lang a{
    font-size: 14px;
    cursor: pointer;
    color: #e3e816;
    margin: auto;
    padding-top: 10px;

}
.lang a:hover{
    text-decoration: none;
}
.langMobile button{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

