mat-grid-list{
  background-color: #aed581;
  margin-top: -26px;
  text-align: center;
}
a{
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.logo:hover{
  background-color: #aed581;
}
.imgLogo:hover{
  background-color: #aed581;
}
mat-grid-tile:hover {
  background-color: #81F79F;
  height: 100%;
}
.menuItem:active{
  background-color: #81F79F;
}
.active{
  background-color: white;
}
.logo{
  padding-right: 5%;
}
