
.wrap {
    background-color: #409a74;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

mat-grid-list {
    background-color: #409a74;
    text-align: center;
}
mat-grid-tile{
    border-radius: 2px;
}

a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
a:hover{
    color: black;
}

.menu {
    margin: auto;
    max-width: 1024px;
}

.logo:hover {
    background-color: #409a74;
}

.imgLogo:hover {
    background-color: #409a74;
}
.lang:hover{
    background-color: #409a74;
}

.hv:hover {
    background-color: #2b7757;
    height: 100%;
    width: 101%;
}
.logo {
    padding-right: 5%;
    color: #e3e816;
    font-weight: bold;
}
.lang a{
    font-size: 14px;
    cursor: pointer;
    color: #e3e816;
    margin: auto;
    padding-top: 10px;

}
.lang a:hover{
    text-decoration: none;
}
@media (max-width: 900px) {
    .mobileMenu {
        background: #409a74;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    .mobileMenu a{
        font-size: 20px;
    }
    .mobileLang{
        text-align: center;
        padding-top: 250px;
        font-weight: bold;
        text-decoration: underline;
    }
    .mobileLang button{
        background-color: white;
    }
    mat-sidenav-container{
        text-align: center;
        position: inherit;
    }
    .mat-drawer{
        width: 100%;
        background: rgba(0,0,0,0.5);
    }
    .toggleMenu{
        padding-top: 10px;
    }
    a:hover{
        color: white;
    }
}