.wrap{
    max-width: 1000px;
    margin: auto;
}
.flex {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
mat-card{
    margin: 10px;
    max-height: 425px;
    max-width: 450px;
}
img{
    max-height: 390px;
    max-width: 450px;
}
@media (max-width: 600px) {
    mat-card-title{
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    mat-card{
        margin: 0;
        padding: 0;
    }
    .wrap {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}