<div class="wrap">
    <mat-accordion>
        <mat-expansion-panel class="lawyers" [expanded]="true">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Юридические услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>запросы по документам о техническом состоянии;</li>
                <li>ведение протоколов собраний ОСМД;</li>
                <li>работа с органами государственной власти, органом местного самоуправления;</li>
                <li>договорная работа с контрагентами (в том числе с поставщиками услуг);</li>
                <li>юридическая консультация по вопросам деятельности ОСМД;</li>
                <li>лоббирование участия дома в общегородских программах;</li>
                <li>разрешение спорных ситуаций в работе ОСМД;</li>
                <li>документальное сопровождение принятия дома и отдельных его систем на баланс (в управление);</li>
                <li>ведение внутреннего деловодства (приказы, распоряжения);</li>
                <li>учёт населения дома (домовая книга, предоставление справок);</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accaunter">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Бухгалтерские услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>расчет СДПТ, утверждение тарифов в соответствии с действующим
                    законодательством;</li>
                <li>начисление коммунальных услуг;</li>
                <li>учет оплаты коммунальных услуг;</li>
                <li>предоставление необходимых справок;</li>
                <li>ведение финансовой отчетности для жильцов;</li>
                <li>подготовка и сдача отчетов в государственные органы;</li>
                <li>начисление зарплаты сотрудникам и оплата налогов;</li>
                <li>работа с платежными системами;</li>
                <li>взаиморасчеты с контрагентами;</li>
                <li>ведение бухгалтерского учета;</li>
                <li>проведение сверок с контрагентами;</li>
                <li>открытие депозитного счёта для накопления средств.</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="cleaning">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Клининговые услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>запросы по документам о техническом состоянии;</li>
                <li>ведение протоколов собраний ОСМД;</li>
                <li>работа с органами государственной власти, органом местного самоуправления;</li>
                <li>договорная работа с контрагентами (в том числе с поставщиками услуг);</li>
                <li>юридическая консультация по вопросам деятельности ОСМД;</li>
                <li>лоббирование участия дома в общегородских программах;</li>
                <li>разрешение спорных ситуаций в работе ОСМД;</li>
                <li>документальное сопровождение принятия дома и отдельных его систем на баланс (в управление);</li>
                <li>ведение внутреннего деловодства (приказы, распоряжения);</li>
                <li>учёт населения дома (домовая книга, предоставление справок);</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="repairing">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Ремонтные работы</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>запросы по документам о техническом состоянии;</li>
                <li>ведение протоколов собраний ОСМД;</li>
                <li>работа с органами государственной власти, органом местного самоуправления;</li>
                <li>договорная работа с контрагентами (в том числе с поставщиками услуг);</li>
                <li>юридическая консультация по вопросам деятельности ОСМД;</li>
                <li>лоббирование участия дома в общегородских программах;</li>
                <li>разрешение спорных ситуаций в работе ОСМД;</li>
                <li>документальное сопровождение принятия дома и отдельных его систем на баланс (в управление);</li>
                <li>ведение внутреннего деловодства (приказы, распоряжения);</li>
                <li>учёт населения дома (домовая книга, предоставление справок);</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="other">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Другие услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>запросы по документам о техническом состоянии;</li>
                <li>ведение протоколов собраний ОСМД;</li>
                <li>работа с органами государственной власти, органом местного самоуправления;</li>
                <li>договорная работа с контрагентами (в том числе с поставщиками услуг);</li>
                <li>юридическая консультация по вопросам деятельности ОСМД;</li>
                <li>лоббирование участия дома в общегородских программах;</li>
                <li>разрешение спорных ситуаций в работе ОСМД;</li>
                <li>документальное сопровождение принятия дома и отдельных его систем на баланс (в управление);</li>
                <li>ведение внутреннего деловодства (приказы, распоряжения);</li>
                <li>учёт населения дома (домовая книга, предоставление справок);</li>
            </ul>
        </mat-expansion-panel>

    </mat-accordion>
</div>
