<div class="wrap">
    <mat-accordion>
        <mat-expansion-panel class="lawyers" [expanded]="true">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Юридические услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>работа с органами государственной власти и местного самоуправления;</li>
                <li>договорная работа в том числе с контрагентами, (в том числе с поставщиками услуг);</li>
                <li>урегулирование споров с должниками по квартплате, взыскание долгов по квартплате;</li>
                <li>договорная работа с контрагентами (в том числе с поставщиками услуг);</li>
                <li>юридическая консультация по вопросам деятельности ОСМД, представление интересов ОСМД в судах и
                    других органах;
                </li>
                <li>документальное сопровождение принятия дома и отдельных его систем на баланс (в управление);</li>
                <li>ведение внутреннего деловодства (приказы, распоряжения);</li>
                <li>содействие владельцам в получении субсидий и других льгот;</li>
                <li>перевод из нежилого фонда в жилой;</li>
                <li>другое</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accaunter">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Бухгалтерские услуги</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>расчет СДПТ, утверждение тарифов в соответствии с действующим
                    законодательством;
                </li>
                <li>начисление коммунальных услуг;</li>
                <li>учет оплаты коммунальных услуг;</li>
                <li>предоставление необходимых справок;</li>
                <li>ведение финансовой отчетности для жильцов;</li>
                <li>подготовка и сдача отчетов в государственные органы;</li>
                <li>начисление зарплаты сотрудникам и оплата налогов;</li>
                <li>работа с платежными системами;</li>
                <li>взаиморасчеты с контрагентами;</li>
                <li>ведение бухгалтерского учета;</li>
                <li>проведение сверок с контрагентами;</li>
                <li>открытие депозитного счёта для накопления средств</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="cleaning">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Услуги дворника (уборщицы)</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>уборка мест общего пользования, согласно графика;</li>
                <li>уборка придомовой территории;</li>
                <li>уборка контейнерных площадок, очистка урн от мусора;</li>
                <li>полив дворов, клумб и газонов, сезонное выращивание газонов;</li>
                <li>уборка и вывоз снега, посыпка части придомовой территории, предназначенной для прохода и проезда,
                    противогололедными смесями
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="plumber">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Услуги сантехника</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li> содержание коммуникаций дома в исправном состоянии;</li>
                <li>утепление трубопроводов в чердачных помещениях и технических подпольях</li>
                <li>подготовка, испытание системы отопления и ликвидация воздушных пробок</li>
                <li>консервация системы отопления</li>
                <li>регулировка трехходовых и пробковых кранов, вентилей и задвижек в технических подпольях, помещениях
                    элеваторных узлов, бойлерных;
                </li>
                <li>проверка, установка или замена контрольно-измерительных приборов (манометры, термометры);</li>
                <li>плановые осмотры, обслуживание индивидуальных тепловых пунктов;</li>
                <li>проведение плановых проверок общедомового канализационного оборудования, прочистка и промывка
                    канализационных выпусков из жилого здания, услуги круглосуточной аварийной службы;
                </li>
                <li>смена отдельных участков трубопровода, смена фасонных частей;</li>
                <li>проверка, установка или замена контрольно-измерительных приборов (манометры, термометры);</li>
                <li>техническое обслуживание;</li>
                <li>замена отдельных участков трубопровода, смена фасонных частей;</li>
                <li>прочистка канализации, дренажа, установка хомутов для устранения течи и др.</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="electrician">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Услуги электрика</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li> содержание коммуникаций дома в исправном состоянии, плановые осмотры состояния сетей,
                    дефектирование;
                </li>
                <li>замена перегоревших предохранителей, автоматических выключателей, пакетных переключателей
                    вводно-распределительных устройств, щитов, электроламп, светильников, выключателей, розеток,
                    неисправных участков электрической сети здания, исключая электрические сети жилых квартир;
                </li>
                <li>ремонт запирающих устройств и закрытие на замки групповых щитков и распределительных шкафов;</li>
                <li>ремонт электрощитов (замена шпилек, протяжка и зачистка контактов), замена вышедших из строя
                    автоматов электрозащиты, пакетных переключателей;
                </li>
                <li>снятие показаний домовых, групповых электросчётчиков;</li>
                <li>переход на светодиодное освещение, фотовыключатели, реле времени и других устройств автоматического
                    или дистанционного управления освещения общедомовых помещений и придомовой территории;
                </li>
                <li>услуги круглосуточной аварийной службы и другое.</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="appartment">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Услуги для многоквартирного дома</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li> комплексное бухгалтерское и юридическое сопровождение;</li>
                <li> уборка придомовой территории, полив (в летний период) и  посыпка части придомовой территории, предназначенной для прохода и проезда, противогололедными смесями;</li>
                <li>а лестничных площадок;</li>
                <li> вывоз бытовых отходов и раздельный сбор мусора;</li>
                <li> уборка подвала, технических этажей и кровли;</li>
                <li>ение мест общего пользования;</li>
                <li> техническое обслуживание лифтов;</li>
                <li> обслуживание систем диспетчеризации;</li>
                <li> техническое обслуживание внутридомовых систем;</li>
                <li> техническое обслуживание и текущий ремонт противопожарных систем;</li>
                <li>  текущий ремонт конструктивных элементов, внутридомовых систем горячего и холодного водоснабжения, водоотведения, теплоснабжения и ливневой канализации и технических устройств дома;</li>
                <li> дезинсекция;</li>
                <li>дератизация.</li>

            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="other">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1>Услуги на постоянной основе и разовые работы</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>ремонт кровли;</li>
                <li>замена окон;</li>
                <li>утепление фасадов;</li>
                <li>электромонтажные работы;</li>
                <li>сантехнические работы;</li>
                <li>клининговые услуги;</li>
                <li>бухгалтерские услуги;</li>
                <li>юридические услуги;</li>
                <li>разработка архитектурных проектов;</li>
                <li>техническое обслуживание газового оборудования;</li>
                <li>сервисное обслуживание котельных.</li>
            </ul>
        </mat-expansion-panel>

    </mat-accordion>
</div>
