.wrap {
  min-height: calc(100vh - 190px);
  padding-top: 20px;
  width: 1024px;
  margin: auto;
}

.lawyers {
  background-image: url("../../assets/services1.png");
  background-position-x: 0px;
  background-repeat: no-repeat;
}
.cleaning {
  background-image: url("../../assets/services1.png");
  background-position-x: -1028px;
  background-repeat: no-repeat;
}
.repairing {
  background-image: url("../../assets/services1.png");
  background-position-x: -2048px;
  background-repeat: no-repeat;
}
.other {
  background-image: url("../../assets/services1.png");
  background-position-x: -3072px;
  background-repeat: no-repeat;
}
mat-expansion-panel{
  margin-top: 30px;
}
h1{
  color: ghostwhite;
}

