<div class="wrap">
    <mat-accordion>
        <mat-expansion-panel class="lawyers" [expanded]="true">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.law</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.l1</li>
                <li translate>services.l2</li>
                <li translate>services.l3</li>
                <li translate>services.l4</li>
                <li translate>services.l5</li>
                <li translate>services.l6</li>
                <li translate>services.l7</li>
                <li translate>services.l8</li>
                <li translate>services.l9</li>
                <li translate>services.l10</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accaunter">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.acc</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.a1</li>
                <li translate>services.a2</li>
                <li translate>services.a3</li>
                <li translate>services.a4</li>
                <li translate>services.a5</li>
                <li translate>services.a6</li>
                <li translate>services.a7</li>
                <li translate>services.a8</li>
                <li translate>services.a9</li>
                <li translate>services.a10</li>
                <li translate>services.a11</li>
                <li translate>services.a12</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="cleaning">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.clean</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.c1</li>
                <li translate>services.c2</li>
                <li translate>services.c3</li>
                <li translate>services.c4</li>
                <li translate>services.c5</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="plumber">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.plumb</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.p1</li>
                <li translate>services.p2</li>
                <li translate>services.p3</li>
                <li translate>services.p4</li>
                <li translate>services.p5</li>
                <li translate>services.p6</li>
                <li translate>services.p7</li>
                <li translate>services.p8</li>
                <li translate>services.p9</li>
                <li translate>services.p10</li>
                <li translate>services.p11</li>
                <li translate>services.p12</li>
                <li translate>services.p13</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="electrician">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.elect</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.e1</li>
                <li translate>services.e2</li>
                <li translate>services.e3</li>
                <li translate>services.e4</li>
                <li translate>services.e5</li>
                <li translate>services.e6</li>
                <li translate>services.e7</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="appartment">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.apartment</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.ap1</li>
                <li translate>services.ap2</li>
                <li translate>services.ap3</li>
                <li translate>services.ap4</li>
                <li translate>services.ap5</li>
                <li translate>services.ap6</li>
                <li translate>services.ap7</li>
                <li translate>services.ap8</li>
                <li translate>services.ap9</li>
                <li translate>services.ap10</li>
                <li translate>services.ap11</li>
                <li translate>services.ap12</li>
                <li translate>services.ap13</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="other">
            <mat-expansion-panel-header expandedHeight="100px" collapsedHeight="100px">
                <mat-panel-title>
                    <h1 translate>services.other</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li translate>services.other1</li>
                <li translate>services.other2</li>
                <li translate>services.other3</li>
                <li translate>services.other4</li>
                <li translate>services.other5</li>
                <li translate>services.other6</li>
                <li translate>services.other7</li>
                <li translate>services.other8</li>
                <li translate>services.other9</li>
                <li translate>services.other10</li>
                <li translate>services.other11</li>
            </ul>
        </mat-expansion-panel>

    </mat-accordion>
</div>
