<div class="wrap1">
    <div class="img" fxFlex>
        <h2 translate>news</h2>
    </div>
</div>
<div class="wrap">
    <div class="flex">
        <div *ngFor="let n of newsList">
            <a routerLink="/article">
                <mat-card>
                    <mat-card-title>
                        <div class="card-title">{{n.title}}</div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <div class="cardImg">
                        <img src="{{n.img}}"
                             alt="{{n.title}} img">
                    </div>
                    <mat-card-content>
                        {{n.content}}
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>
