<div class="wrap">
    <div class="img" fxFlex>
        <h2>
            Новости и объявления
        </h2>
    </div>
</div>
<div class="wrap">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile *ngFor="let n of newsList">
            <a routerLink="/article">
                <mat-card>
                    <mat-card-title>
                        {{n.title}}
                        <mat-divider></mat-divider>
                    </mat-card-title>

                    <img mat-card-image src="{{n.img}}"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        {{n.content}}
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
    </mat-grid-list>

</div>