<div class="wrap1">
    <div class="img" fxFlex>
        <h2 translate>Документы</h2>
    </div>
</div>
<div class="wrap">
    <div class="flex">
        <div>
            <a target="_blank" href="/assets/ліцензія%20на%20виробництво%20тепла%201198.jpeg">
                <mat-card>
                    <mat-card-title>
                        <div class="card-title">{{newsList.title}}</div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <div class="cardImg">
                        <img src="{{newsList.img}}"
                             alt="{{newsList.title}} img">
                    </div>
                </mat-card>
            </a>
        </div>
    </div>
</div>
