<div class="wrap">
    <h3> Процедура создания ОСМД в соответствии с действующим законодательством</h3>
    <ol>
        <h4>Подготовительные действия: </h4>
        <li>
            Создание инициативной группы. Инициативная группа формируется в количестве не менее 3х собственников жилых
            или нежилых помещений в многоквартирном доме. Инициативная группа не выбирается и не утверждается общим
            собранием
            жильцов, инициативная группа создается путем самоназначения.
        </li>
        <li>
            Формирование реестра собственников. Инициативная группа формирует реестр собственников жилых (квартир) и
            нежилых помещений. Для этого необходимо подписать протокол заседания инициативной группы, в котором в числе
            прочих вопросов выбрать уполномоченное лицо для обращения к госрегистратору за информационной справкой о
            всех
            правах собственности в многоквартирном доме. Уполномоченный собственник для подтверждения полномочий
            предоставляет госрегистратору копию паспорта и права собственности, протокол и заполняет заявление,
            оплачивает услугу. Госрегистратор предоставляет информацию в виде листа формата А4 на каждое право
            собственности,
            в котором в числе прочего указан собственник и площадь. Вам необходимо определить общую площадь дома, так
            как
            голосование считается по площадям. Информация о собственниках вам понадобиться для уведомления о проведении
            собрания – по закону необходимо уведомить всех совладельцев. (Нюанс – вам предоставят информацию начиная с
            2004года, остальную придётся добывать самостоятельно).
        </li>
        <h4>Учредительное собрание:</h4>
        <li>
            Уведомление собственников о проведении собрания. Инициативная группа не менее чем за 14 дней уведомляет
            (либо лично под роспись, либо заказным письмом) совладельцев помещений в многоквартирном доме о проведении
            учредительного собрания. Также в период этих двух недель инициативная группа проводит ознакомительную и
            разъяснительную работу среди совладельцев помещений в многоквартирном доме. Как правило это проведение
            «ликбеза»
            и ознакомление совладельцев с проектом Устава ОСМД и другими документами, вытекающими из потребностей
            деятельности будущего ОСМД.
        </li>
        <li>
            Регистрация участников собрания.Инициативная группа проводит регистрацию участников учредительного собрания.
            Учредительное собрание считается открытым (и, как следствие, таким которое состоялось) вне зависимости от
            того, сколько совладельцев многоквартирного дома присутствовало на нем, в силу того, что на сегодняшний день
            в действующем законодательстве отсутствует понятие «кворума». После открытия учредительного собрания,
            избрания Главы и секретаря учредительного собрания инициативная группа теряет свои полномочия, а члены
            инициативной группы имеют такие же полномочия, как и остальные участники учредительного собрания.
        </li>
        <li>
            Голосование совладельцев.Все совладельцы, которые лично присутствуют на учредительном собрании, голосуют
            отдельно по каждому вопросу повестки дня. Таким образом формируется определенное количество голосов по
            каждому вопросу повестки дня учредительного собрания. Если же, по некоторым вопросам не набрано необходимого
            количества голосов, то их можно добрать путем индивидуального письменного опроса совладельцев помещений
            многоквартирного дома (совладельцы в течении 15 дней голосуют лично по каждому вопросу повестки дня с
            помощью листов письменного опроса, которые являются неотъемлемой частью протокола учредительного собрания).
        </li>
        <li>
            Уведомление совладельцев о принятых решениях.После проведения учредительного собрания нужно уведомить
            каждого совладельца помещения многоквартирного дома о принятых решениях на учредительном собрании в течении
            10 дней. Таким образом, каждый (вне зависимости от голосования и личного присутствия на учредительном
            собрании) получит информацию о принятых решениях.
        </li>
        <h4>Процедура государственной регистрации:</h4>
        <li>
            Государственная регистрация ОСМД. Одним из обязательных вопросов повестки дня учредительного собрания
            является вопрос выбора уполномоченного лица для осуществления регистрационных и связанных с ними действий,
            как правило, это (уже избранный на тот момент) Председатель Правления ОСМД. Таким образом, наделенный
            полномочиями учредительного собрания, Председатель Правления ОСМД готовит пакет документов для
            государственной регистрации ОСМД в который входит: документ подтверждающий полномочия Председателя Правления
            (вопрос подтверждения полномочий Председателя Правления в данном случае достаточно интересный, так как
            первое что приходит в голову государственному регистратору это доверенность (а ее получить от всех жильцов,
            конечно же, реально, но это, по меньшей мере, не разумно и нерентабельно), но закон говорит и о «других
            документах подтверждающих полномочия». Вспоминая об этом, регистратор просит у вас оригинал протокола
            учредительного собрания, что, конечно же, не проблема, если вы заранее составили несколько оригиналов
            протокола учредительного собрания (подчеркиваем – именно оригиналов (ксерокопии не подходят), а получить
            заверенную нотариально фотокопию тоже не получиться, так как нотариусы должны удостоверить каждую подпись в
            протоколе (хотя как вариант, вы можете пригласить нотариуса на учредительное собрание и оплатить его
            услуги). Мы рекомендуем готовить для подачи госрегистратору выписку из протокола по соответствующему вопросу
            с поименным голосованием.
        </li>
        <h4>Комплекс действий для организации работы ОСМД:</h4>
        <li>
            Председатель Правления открывает расчетный счет ОСМД в банке и оформляет печать.
        </li>
        <li>
            Принятие на баланс дома. Проведение Общего Собрания ОСМД. Председатель Правления инициирует процедуру
            принятия на баланс многоквартирного дома. В связи с тем, что Кабмин не разработал исполнительную схему (по
            Закону "Об особенностях осуществления права собственности в МКД" Кабмин должен был в течении трех месяцев
            привести свою нормативно-правовую базу в соответствие с этим законом) в горсовете рекомендуют Председателю
            Правления подать протокол общего собрания с проголосованным вопросом о передаче дома в управление ОСМД в
            горсовет и раз в месяц на сессии горсовет будет принимать пакетное решение о передаче домов в управление
            ОСМД. Таким образом в большинстве случаев ЖКС («ЖЭК»), как предыдущий балансодержатель, осуществлявший
            управление многоквартирным домом, результаты которого мы видим на сегодняшний день, в течении трех месяцев с
            момента государственной регистрации обеспечивает передачу технической и другой предусмотренной
            законодательством документации на дом (технический паспорт, планы инженерных сетей, зоны разграничения
            ответственности и т.д.). В случае, если вышеперечисленные документы по какой-либо причине отсутствуют, ЖКС
            (по истечению полугода с момента госрегистрации) обязан восстановить их за свой счет. Мы рекомендуем для
            того, чтобы не плодить собрания, на этом собрании также принять годовую смету доходов и расходов, оформление
            земельного участка в право собственности и другие важные вопросы по деятельности ОСМД.
        </li>
        <li>
            Получение субсидий и льгот. Для того, чтобы реализовать государственную политику в социальной сфере, и
            граждане, за которыми признано право получения субсидий и льгот, могли получить необходимые дотации
            необходимо предоставить годовую смету доходов и расходов в департамент экономики.
        </li>
        <li>
            Подписание договора с управляющей компанией. Для оптимизации финансовых затрат и профессионального
            управления многоквартирным домом Председатель Правления подписывает договор о предоставлении услуг по
            управлению многоквартирным домом на основании решения учредительного собрания (или Общего Собрания). Как
            правило, подписание таких договоров является «спасательным кругом» для ОСМД, так как профессионально
            позволяет подойти к решению массы вопросов оперативного управления домом. Управляющая компания должна быть
            заинтересована в долгосрочном и честном сотрудничестве (если конечно она не состоит из «бывших работников» и
            под чутким руководством «бывшего начальника» ЖЭКа, результат работы которого мы можем увидеть в подвале и на
            фасаде каждого дома). Важно понимать, что управляющая компания является подрядчиком, что определяет ее
            статус как исполнителя воли ОСМД, а не «тирана» который диктует правила игры. Создание ОСМД и привлечение
            управляющей компании – это понимание современных экономических реалий и забота о своем доме (своем
            совместном имуществе) и принятие ответственности на себя за свое имущество и дальнейшее благосостояние.
        </li>
        <li>
            Оформление права собственности на земельный участок. Придомовая территория это не только площадка для выгула
            собак и парковки автомобиля. Придомовая территория является совместной собственностью совладельцев
            многоквартирного дома, что дает возможность реализовать права, вытекающие из права совместной собственности
            на землю в интересах ОСМД. Реализация права на землю ОСМД включает разработку и согласование с
            территориальным органом исполнительной власти проекта землеустройства относительно отвода земельного участка
            с дальнейшей регистрацией права собственности на земельный участок.
        </li>
    </ol>
</div>