<div class="wrap">
    <h3>{{'osmd.title' | translate}} </h3>
    <ol>
        <h4>{{'osmd.pt' | translate}} </h4>
        <li>
            {{'osmd.p1' | translate}}
        </li>
        <li>
            {{'osmd.p2' | translate}}
        </li>
        <h4>{{'osmd.mt' | translate}}</h4>
        <li>
            {{'osmd.m1' | translate}}
        </li>
        <li>
            {{'osmd.m2' | translate}}
        </li>
        <li>
            {{'osmd.m3' | translate}}
        </li>
        <li>
            {{'osmd.m4' | translate}}
        </li>
        <h4> {{'osmd.rt' | translate}}</h4>
        <li>
            {{'osmd.r1' | translate}}
        </li>
        <h4>{{'osmd.wt' | translate}}</h4>
        <li>
            {{'osmd.w1' | translate}}
        </li>
    </ol>
    <p>
        {{'osmd.w2' | translate}}
    </p>
</div>