.wrap {
    max-width: 1024px;
    margin: auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.flex {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 350px;
    max-height: 350px;

}
p{
    margin-top: -10px;
}
.photo1 {
    float: right;
    margin: 7px 0 0 7px;
}

.photo2 {
    float: left;
    margin: 0 7px 0 0;
}

h2 {
  color: dimgrey;
  text-align: center;
  margin-bottom: 5px;
}
p{
  margin-top: -15px;
}
mat-card {
    height: 230px;

}
.flex mat-card{
    height: 260px;
    width: 450px;
}
li{
    margin-left: -30px;
}
mat-card-title {
    text-align: center;
}
mat-card-content {
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
}
.before {
    transition: all 0.2s ease;
    margin-right: 10px;
    background-color: rgb(181, 96, 96);;
}
.before:hover {
    margin-top: -10px;
    color: #000;
}
.after {
    background-color: rgba(0, 255, 0, 0.2);
    transition: all 0.2s ease;
}
.after:hover {
    margin-top: -10px;
    color: #000;
}
.workingHours {
    margin-top: 10px;
  height: 350px;
  padding-bottom: 50px;
  background-color: rgba(101, 155, 115, 0.1);
  text-align: center;
  transition: all 0.3s ease-out;
}
.workingHours mat-card-content{
  margin-top: -20px;
}
.workingHours mat-card-title h2{
    margin-top: -10px;
    margin-bottom: 30px;
}
.messagesInfo{
  font-weight: bold;
  margin-top: 20px;
}
.workingHours:hover {
  background-color: rgba(101, 155, 115, 0.2);
}
.citizenHours {
    width: 300px;
    margin: auto;
    font-size: 16px;
}
.compTitle {
    margin-top: 0;
}
.compService {
    margin-bottom: 10px;
}
.firstParagraph{
    margin-top: 10px;
}
@media (max-width: 600px) {
    .wrap{
        padding-left: 4px;
        padding-right: 4px;
    }
    .photo1, .photo2{
        max-width: none;
        margin: auto;
        padding: 0;
        float: none;
        width: 100%;
    }
    .flex mat-card{
        height: auto;
    }
    .before, .after {
        width: 99%;
        height: 350px;
        margin: auto;
    }
    .workingHours{
        height: 380px;
    }

}
