<div class="wrap">
    <h2 class="compTitle" translate>aboutCompany.about</h2>
    <p class="firstParagraph">
        <img src="../../../assets/f2.png" alt="photo1" class="photo1">
        {{ 'aboutCompany.p1.1' | translate }}
        {{ 'aboutCompany.p1.2' | translate }}
    </p>
    <p>
        {{'aboutCompany.p2.1' | translate }}
        {{'aboutCompany.p2.2' | translate }}
    </p>
    <h2 class="compService">{{'aboutCompany.serviceTitle' | translate }}</h2>
    <div class="flex">
        <mat-card class="before">
            <mat-card-title>
                {{'aboutCompany.before' | translate }}
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>{{'aboutCompany.b1' | translate }}</li>
                    <li>{{'aboutCompany.b2' | translate }}</li>
                    <li>{{'aboutCompany.b3' | translate }}</li>
                    <li>{{'aboutCompany.b4' | translate }}</li>
                    <li>{{'aboutCompany.b5' | translate }}</li>
                    <li>{{'aboutCompany.b6' | translate }}</li>
                </ul>
            </mat-card-content>

        </mat-card>

        <mat-card class="after">
            <mat-card-title>
                {{'aboutCompany.after' | translate }}
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>{{'aboutCompany.a1' | translate }}</li>
                    <li>{{'aboutCompany.a2' | translate }}</li>
                    <li>{{'aboutCompany.a3' | translate }}</li>
                    <li>{{'aboutCompany.a4' | translate }}</li>
                    <li>{{'aboutCompany.a5' | translate }}</li>
                    <li>{{'aboutCompany.a6' | translate }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="workingHoursWrap">
        <mat-card class="workingHours">
            <mat-card-title><h2>{{'workTime' | translate }}</h2></mat-card-title>
            <mat-card-content>
                <div>{{'wD' | translate}}</div>
                <div>09:00 &ndash; 18:00</div>
                <div> {{'dinner' | translate}}</div>
                <div>13:00 &ndash; 14:00</div>
            </mat-card-content>
            <mat-card-subtitle>{{'daysoff' | translate}}</mat-card-subtitle>
            <mat-card-title><h2>{{'cT' | translate}}</h2></mat-card-title>
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="80px" class="citizenHours">
                    <mat-grid-tile>
                        <div>{{'monday' | translate}}: <br> <br> <br>
                            {{'thursday' | translate}}:
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>10:00 &ndash; 13:00 <br>
                            15:00 &ndash; 18:00 <br> <br>
                            15:00 &ndash; 18:00
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
            <div class="messagesInfo">
                {{'aboutCompany.msgs' | translate}} <br> Viber &mdash; 096-271-62-12 <br>
                Email &mdash; uk.xoz17@ukr.net
            </div>
        </mat-card>
    </div>

</div>
