<div class="wrap">
    <h2 class="compTitle">О нас</h2>
    <p class="firstParagraph">
        Управляющая компания «Хозяин» специализируется на обслуживании и управлении многоквартирными домами, а также
        другими объектами недвижимости.
        <img src="../../../assets/f2.png" alt="photo1" class="photo1">
        Мы можем предоставить комплексное техническое обслуживание, содержание, ремонт и
        модернизацию многоквартирных домов и зданий. Cилами наших специалистов мы обеспечиваем экономное освещение мест
        общего пользования в домах (подъезды, лестничные площадки), текущий ремонт, комфортную температуру в
        отопительный сезон, качественную вентиляцию, утепленные окна и двери, аварийную и диспетчерскую службу, чистую
        воду из крана, озеленение придомовой территории. Наша задача сделать жизнь и работу комфортной и воплощать в
        жизнь идеи наших клиентов, для удобства и безопасности.
        Сфера деятельности компании охватывает многоквартирные дома, в которых созданы объединения совладельцев
        многоквартирного дома, жилищно-строительные кооперативы, котеджные городки, офисные центры, оздоровительные и
        социальные учреждения, садовые и другие общества, расположенные в Одессе и Одесской области.
        Мы обеспечиваем содержание мест общего пользования и благоустройство придомовой территории. Гарантируем чистые
        подъезды, убранную придомовую территорию и своевременный вывоз мусора, озеленение придомовой территории,
        своевременный покос травы, безопасные детские игровые и спортивные площадки, комфортные парковки и освещенные
        дворы.
        Дополнительно по желанию наших клиентов мы можем обеспечить безопасность проживания в доме. Из спектра наших
        услуг можно выбрать: огражденную придомовую территорию дома, аудио-видео домофоны, шлагбаумы, автоматические
        ворота, работающие системы пожаротушения, дымоудаления, пожарной сигнализации и другие системы контроля доступа,
        видеонаблюдения и сигнализации, а также пост охраны. Все это создаст Вам дополнительную уверенность в
        безопасности и сохранении Вашего жилья или офиса.


    </p>
    <p>

        Наши услуги по управлению - это юридическое, бухгалтерское, паспортное и организационное обслуживание
        многоквартирных домов, разработка лучших схем управления недвижимостью, ведение налогового учета,
        специализированное программное обеспечение, как для домов, находящихся в непосредственном управлении, так и для
        ОСМД и ЖСК.
        <img src="../../../assets/f2.png" alt="photo2" class="photo2">
        Круглосуточное аварийно-ремонтное обслуживание объектов недвижимости, находящихся под комплексным управлением
        управляющей компании «Хозяин», в том числе многоквартирных домов, а также абонентское обслуживание ОСМД, ЖСК,
        индивидуальных жителей.
        Ремонтные услуги - это комплекс услуг по проведению общедомовых, электротехнических, сантехнических и отделочных
        работ, а также необходимых ремонтных работ в квартирах.
        Управляющая компания «Хозяин» обеспечивает комплексное обслуживание и содержание крышной котельной.
        Профессиональная настройка автоматического оборудования снижает затраты, и увеличивает КПД котлов, снижая при
        этом тариф на отопление.
        Обращайтесь в нашу компанию если Вы хотите создать ОСМД (или уже создали) и ищете профессионального управляющего
        для Вашего дома. Вы получите полный пакет услуг для многоквартирного дома, при этом тариф за обслуживание дома и
        его территории будет экономически обоснованный, мы Вам гарантируем профессиональное управление и обслуживание.
        Наши приоритеты – повышение качества предоставляемых услуг, рациональное использование энергоресурсов путем
        внедрения энергоэффективных технологий.
        Мы хотим сделать Вашу жизнь лучше и у нас для этого есть ресурс и команда профессионалов!

    </p>
    <h2 class="compService">Обслуживание компанией "Хозяин"</h2>
    <div class="flex">
        <mat-card class="before">
            <mat-card-title>
                Прежде у Вас было
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>нерегулярная уборка, заброшенная придомовая территория</li>
                    <li>решение аварийных ситуаций силами жильцов</li>
                    <li>игнорирование заявлений и проблем жильцов</li>
                    <li>обслуживание с очередями и выставленные счета за некачественные или неоказанные услуги</li>
                    <li>привязка оплаты услуг к определенному банку</li>
                    <li>отсутствие контроля предоставляемых услуг со стороны руководства ЖЭКов</li>
                </ul>
            </mat-card-content>

        </mat-card>

        <mat-card class="after">
            <mat-card-title>
                С нами у Вас будет
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>регулярная уборка, ухоженная придомовая территория</li>
                    <li>решение аварийных ситуаций силами УК «Хозяин»</li>
                    <li>быстрое реагирование на заявления и проблемы жильцов</li>
                    <li>эффективное обслуживание, прием заявок онлайн, пакет качественных услуг и счета только за
                        полученные
                        услуги
                    </li>
                    <li>оплата услуг любой удобной платежной системой</li>
                    <li>постоянный контроль предоставляемых услуг со стороны руководства УК «Хозяин»</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>


    <mat-card class="workingHours">
        <mat-card-title><h2>График работы </h2></mat-card-title>
        <mat-card-content>
            <div>Понедельник - Пятница</div>
            <div>09:00 &ndash; 18:00</div>
            <div> Обеденный перерыв</div>
            <div>13:00 &ndash; 14:00</div>
        </mat-card-content>
        <mat-card-subtitle>Выходные: Суббота, Воскресенье</mat-card-subtitle>
        <mat-card-title><h2>Время приема граждан</h2></mat-card-title>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="80px" class="citizenHours">
                <mat-grid-tile>
                    <div>Понедельник <br> <br> <br>
                        Четверг
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>10:00 &ndash; 13:00 <br>
                        15:00 &ndash; 18:00 <br> <br>
                        15:00 &ndash; 18:00
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <div class="messagesInfo">
            Мы круглосуточно принимаем сообщения: <br> Viber &mdash; 096-271-62-12 <br>
            Email &mdash; uk.xoz17@ukr.net
        </div>
    </mat-card>
</div>
