<div class="wrap">
    <h2 class="compTitle">Lorem ipsum dolor sit</h2>
    <mat-grid-list cols="5" gutterSize="20px" rowHeight="250px" class="text1">
        <mat-grid-tile [colspan]="3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem commodi consequatur cupiditate
                doloribus error est facere fugit odit saepe sapiente, totam unde ut? Accusamus amet aperiam ea ex illo ipsa
                magni quis suscipit tempora vel. Accusantium ad aperiam autem consectetur doloremque eligendi eveniet, excepturi
                fuga harum hic laudantium neque odit officiis placeat quidem recusandae repellat repudiandae similique ut vitae.
                A asperiores consectetur distinctio dolor dolore eaque excepturi impedit, ipsam mollitia officia perferendis
                quibusdam sequi veniam. Amet, iste officia quasi saepe temporibus vel veritatis voluptas? Dicta earum esse,
                facilis libero minus placeat praesentium quasi reiciendis rem repellendus, sequi sint tenetur!
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
            <img src="../../../assets/f2.png" alt="photo1">
        </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="5" rowHeight="250px" gutterSize="15px" class="text2">
        <mat-grid-tile [colspan]="2">
            <img src="../../../assets/f2.png" alt="photo2">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem commodi consequatur cupiditate
                doloribus error est facere fugit odit saepe sapiente, totam unde ut? Accusamus amet aperiam ea ex illo ipsa
                magni quis suscipit tempora vel. Accusantium ad aperiam autem consectetur doloremque eligendi eveniet, excepturi
                fuga harum hic laudantium neque odit officiis placeat quidem recusandae repellat repudiandae similique ut vitae.
                A asperiores consectetur distinctio dolor dolore eaque excepturi impedit, ipsam mollitia officia perferendis
                quibusdam sequi veniam. Amet, iste officia quasi saepe temporibus vel veritatis voluptas? Dicta earum esse,
                facilis libero minus placeat praesentium quasi reiciendis rem repellendus, sequi sint tenetur!
            </p>
        </mat-grid-tile>
    </mat-grid-list>
    <h2 class="compService">Обслуживание компанией "Хозяин"</h2>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="before">
                <mat-card-title>
                    Без участия компании
                </mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Отсутсвие системности в управлении</li>
                        <li>Низкое качество оказываемых услуг</li>
                        <li>Отсутсвие контроля за клининговой службой</li>
                        <li>Плачевное состояние парадных и придомовых территорий</li>
                        <li>Неподконтрольность средств</li>
                    </ul>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="after">
                <mat-card-title>
                    Под управлением компании "Хозяин"
                </mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Управление опытными специалистами</li>
                        <li>Контроль за качеством и переодичностью оказываемых услуг</li>
                        <li>Чистота на каждом этаже</li>
                        <li>Забота о благоустройстве</li>
                        <li>Полная отчетность о потраченных средствах</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card class="workingHours">
        <mat-card-title> <h2>График работы </h2></mat-card-title>
        <mat-card-content>
            <div>Понедельник - Пятница</div>
            <div>09:00 - 18:00</div>
            <div> Обеденный перерыв</div>
            <div>13:00 - 14:00</div>
        </mat-card-content>
        <mat-card-subtitle>Выходные: Суббота, Воскресенье</mat-card-subtitle>
        <mat-card-title> <h2>Время приема граждан</h2></mat-card-title>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="80px" class="citizenHours">
                <mat-grid-tile>
                    <div>Понедельник <br> <br> <br>
                    Четверг</div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>10:00 - 13:00 <br>
                    15:00 - 18:00 <br> <br>
                        15:00 - 18:00
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-content>
            Мы круглосуточно принимаем сообщения: <br> Viber - 096-271-62-12
            Email - uk.xoz17@ukr.net
        </mat-card-content>
    </mat-card>
</div>
