<div class=img>
  <mat-grid-list cols="3" rowHeight="150px" fxLayoutAlign="center center" class="content">
    <mat-grid-tile fxLayoutAlign="center center">
      <a routerLink="/contacts">
        <h4>
          г.Одесса ул.Асташкина 25, помещение 501 <br>
          098-271-62-12<br>096-271-62-12(Viber)<br> uk.xoz17@ukr.net
        </h4>
      </a>
    </mat-grid-tile>
    <mat-grid-tile fxLayoutAlign="center center">
      <h2>Управляющая компания "Хозяин" <br></h2>
    </mat-grid-tile>
    <mat-grid-tile fxLayoutAlign="center center">
      <h3>
        Помощь в создании ОСМД <br>
        Консультации по хозяйственным вопросам
      </h3>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-content></app-content>
