.img {
  background-image: url(../../assets/35-big.jpg);
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: black 1px 1px 0, black -1px -1px 0,
  black -1px 1px 0, black 1px -1px 0;
}
.content{
  width: 1024px;
  margin: auto;
}

.hoz {
  height: 100%;
  width: 100%;
}

mat-grid-tile{
  text-align: center;
}
a{
  line-height: 22px;
  padding-top: 10px;
  width: 100%;
  color: white;
}
.about{
  border: 1px solid black;
  margin-top: 0px;
}
.text{
  background-color: gainsboro;
}
