<div class="wrap">
    <h2> {{"vacancies.title"| translate}} </h2>
    <div class="content">
        <div class="flex">
            <div *ngFor="let v of vacanciesList" class="vacancies">
                <a routerLink="/article">
                    <mat-card>
                        <mat-card-title>
                            {{v.title}}
                            <mat-divider></mat-divider>
                        </mat-card-title>
                        <mat-card-content>
                            {{v.description}}
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>