<body>
<div class="wrap1">
  <div class="img" fxFlex>
    <h2>
      В нашу команду требуются
    </h2>
  </div>
</div>
<div class="wrap">
  <div class="flex">
    <div *ngFor="let v of vacanciesList" class="vacancies">
      <a routerLink="/article">
        <mat-card>
          <mat-card-title>
            {{v.title}}
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            {{v.description}}
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>

</body>
