.wrap{
    min-height: calc(100vh - 200px);
}
.content {
    margin: auto;
    max-width: 1024px;

}

.flex{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.vacancies{
    margin-top: 20px;
    margin-left: 10px;
}

h3 {
    height: 10px;
    font-size: 36px;
    text-align: center;
    border: 1px solid transparent;
}
mat-card{
    text-align: justify;
    height: 120px;
    max-width: 420px;
    transition: all 0.3s ease-out;
}
a{
    text-decoration: none;
}
mat-card:hover{
    background-color: rgba(55, 55, 65, 0.1);
    margin-top: -10px;
}

@media (max-width: 600px){
    .wrap1{
        margin-bottom: 20px;
    }
    mat-card{
        margin: auto;
        width: 90%;
        height: 140px;
    }
    .vacancies{
        margin-left: 0px;
    }
    h3{

        padding-top: 20px;
        font-size: 15px;
    }
}

